:root{
 --mainBlue:#2a2a72;
 --lightBlue:#009ffd;
 --mainWhite:#f3f3f3;
 --mainDark:#232528;
 --mainYellow:#ffa400;
}
body{
 font-family: 'Oswald', sans-serif !important;
  background-color:var(--mainWhite) !important;
  color:var(--mainDark) !important;
}
.text-title{
font-family: 'Permanent Marker', cursive;
letter-spacing:0.3rem;
text-transform:uppercase;
}
.text-blue{
 color:var(--mainBlue);
}
.text-bright{
 color:var(--lightBlue);
}
.section{
  width:85vw;
  display:grid;
  align-items: center;
  justify-content: center;
  gap:1rem 2rem;
  margin:1rem auto;
}
@media screen and (min-width:769px){
  .section{
    grid-template-columns: repeat(4,1fr);
  }
}
.btn-black{
  background:transparent;
  text-transform:capitalize;
  font-size:0.8rem !important;
  color:var(--mainDark);
  padding:0 !important;
  border-radius:0 !important;
  border:0.1rem solid var(--mainDark) !important;
}
.btn-black:hover{
  background:var(--mainBlue) !important;
  color:var(--mainWhite) !important;
}
.icon{
  font-size:1.5rem;
  cursor:pointer;
}
.cart-item{
  cursor:pointer;
  font-size:1.2rem;
  color:var(--mainYellow);
}